<div class="bookDetails-wrapper">

      <div class="bookDetails-image-wrapper">
        <img src={{image_Url}} alt="book cover" class="bookDetails-image"/>
      </div>
     
       <div class="bookDetails-content-wrapper">
         <h1 class="bookDetails-title">{{title}}</h1>
         <p class="bookDetails-para">{{description}}</p>
         <p class="bookDetails-author"><strong>Author :</strong>{{author}}</p>
         <a href="/users/{{user._id}}/books" class="user-book-list">
         <p class="user-book-list">See all books posted by {{user.firstName}} {{user.lastName}}</p>
         </a>
       </div>

</div>

   
     <h3 class="add-comment-heading">Add comment</h3>

     <form action="/books/{{_id}}/comment" method="POST" class="comment-form">
       <textarea name="content"  cols="30" rows="2"></textarea>
       <button type="submit" class="post-btn">Post</button>
     </form>


  {{#unless comments}}
    <p class="no-comment-para">No comments</p>
    {{/unless}}

    {{#each comments}}
    <p class="comment-para"><span>{{this.user.firstName}}</span>  {{this.content}} </p>
    {{/each}}
  